<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="leaseBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="leaseBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.bluemoon.com/services/lease.php"
                binding="basicHttpBinding" bindingConfiguration="leaseBinding"
                contract="svcLease.leasePort" name="leasePort" />
        </client>
    </system.serviceModel>
</configuration>